body{
    text-align:center;
}

.btn{
    height:180px;
    width:180px;
    border-radius:20px;
    border: 8px solid black;
    margin:2.5rem;
} 
.btn-container{
    display: flex;
    justify-content: center;
   
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color:#d95980;
}
.green{
    background-color: #819ff9;
}
.purple{
    background-color: #63aac0;
}

.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}